<div class="container mt-5">
    <h3>{{ isEditMode ? 'Editar Contacto' : (isViewMode ? 'Ver Contacto' : 'Añadir Nuevo Contacto') }}</h3>
    
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="nombre" class="form-label">Nombre<span class="text-danger">*</span></label>
          <input type="text" id="nombre" class="form-control" [(ngModel)]="contacto.nombre" [disabled]="isViewMode" required #nameInput="ngModel">
          <!-- Mensaje de error-->
          @if( nameInput.invalid && nameInput.touched){
          <div>
            <small style="color: red;">El nombre es obligatorio</small>
          </div>
            }
        </div>
        <div class="col-md-4 mb-3">
          <label for="notas" class="form-label">Notas</label>
          <textarea id="notas" class="form-control" [(ngModel)]="contacto.notas" [disabled]="isViewMode"></textarea>
        </div>
        <div class="col-md-4 mb-3">
            <label for="cumpleanos" class="form-label">Fecha de Cumpleaños</label>
            <input type="date" id="cumpleanos" class="form-control" [(ngModel)]="contacto.cumpleanos" [disabled]="isViewMode">
          </div>
      </div>
  
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="pagina_web" class="form-label">Página Web</label>
          <input type="text" id="pagina_web" class="form-control" [(ngModel)]="contacto.pagina_web" [disabled]="isViewMode">
        </div>
        <div class="col-md-4 mb-3">
          <label for="empresa" class="form-label">Empresa</label>
          <input type="text" id="empresa" class="form-control" [(ngModel)]="contacto.empresa" [disabled]="isViewMode">
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-4 mb-3">
            <label for="phones" class="form-label">Números de Teléfono</label>
            <div class="d-flex align-items-center mb-2">
              <input type="text" class="form-control me-2" [disabled]="isViewMode">
              @if(!isViewMode){
              <button type="button" class="btn btn-danger btn-sm"><span class="material-symbols-outlined">delete</span></button>
              <button type="button" class="btn btn-secondary btn-sm"><span class="material-symbols-outlined">add</span></button>
              }
            </div>
          </div>
        <div class="col-md-4 mb-3">
          <label for="emails" class="form-label">Emails</label>
          <div class="d-flex align-items-center mb-2">
            <input type="email" class="form-control me-2" [disabled]="isViewMode">
            @if(!isViewMode){
            <button type="button" class="btn btn-danger btn-sm"><span class="material-symbols-outlined">delete</span></button>
            <button type="button" class="btn btn-secondary btn-sm"><span class="material-symbols-outlined">add</span></button>
            }
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="addresses" class="form-label">Direcciones</label>
          <div class="d-flex align-items-center mb-2">
            <input type="text" class="form-control me-2" [disabled]="isViewMode">
            @if(!isViewMode){
            <button type="button" class="btn btn-danger btn-sm"><span class="material-symbols-outlined">delete</span></button>
            <button type="button" class="btn btn-secondary btn-sm"><span class="material-symbols-outlined">add</span></button>
            }
          </div>
        </div>
      </div>
  
      <div class="d-flex justify-content-end mt-5">
        @if(!isViewMode){
        <button (click)="saveOrUpdateContact()" [disabled]="nameInput.invalid" class="btn {{ isEditMode ? 'btn-warning' : 'btn-primary' }} me-2"><span class="material-symbols-outlined icon-btn-align">save</span>
            {{ isEditMode ? 'Editar Contacto' : 'Crear Contacto' }}
        </button>
        }
      </div>
  </div>
